---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.data.title ? post.data.title : undefined },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title + " | Portfolio"}>
  <!-- Project Showcase Section -->
  <nav class="flex items-center justify-between flex-wrap bg-gray-900 p-6">
    <div class="flex items-center justify-between flex-shrink-0 text-white ml-10">
      <a href="/"><span class="font-semibold text-xl tracking-tight">Back</span></a>
    </div>
    
  </nav>
  <section id="project-showcase" class="py-20">
    <div class="container mx-auto">
      <h2
        class="text-4xl font-bold mb-8 text-center animate__animated animate__fadeInUp"
      >
        {post.data.title}
      </h2>
      <div
        class="max-w-4xl mx-auto animate__animated animate__fadeInUp animate__delay-1s"
      >
        <div class="bg-gray-800 rounded-lg overflow-hidden shadow-lg">
          <div class="relative">
            <img
              src={post.data.image}
              alt={post.data.title}
              class="w-full h-96 object-cover"
            />
            <div class="absolute top-0 left-0 p-4">
              {
                post.data.featured && (
                  <span class="bg-green-500 text-white py-1 px-2 rounded-lg">
                    Featured
                  </span>
                )
              }
            </div>
          </div>
          <div class="p-6">
            <h3 class="text-2xl font-bold mb-2">{post.data.title}</h3>
            <p class="text-gray-400 mb-4">{post.data.description}</p>
            <div class="flex flex-wrap mb-4">
              {
                post.data.technologies &&
                  post.data.technologies.map((technology) => (
                    <div class="bg-gray-700 text-white py-1 px-2 rounded-lg mr-2 mb-2">
                      {technology}
                    </div>
                  ))
              }
            </div>
            <a
              href={post.data.projectLink}
              class="inline-block bg-green-500 text-white py-2 px-4 rounded-lg mb-4 hover:bg-green-600 transition-colors duration-300"
            >
              View Project
            </a>
            <div class="mb-4">
              <h4 class="text-lg font-bold mb-2">Project Description</h4>
              <Content />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
